* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter Variable', Arial, sans-serif, Courier, monospace;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro';
}

h1 :first-of-type {
    font-size: 2rem;
    color: white;
    padding: 0.5rem;
}

header {
    margin-bottom: 0px;
}

nav {
    display: flex;
    align-items: center;
    background-color: #007FFF;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 50%;
}

.menus li {
    margin: 0 20px;
    padding: 0.1rem;
    border-radius: 0.5rem;
    vertical-align: top;
    
}

.menus li a {
    color: bla;
}
#presentation {
    display: flex;
    align-items: flex-start;
}
.boxcontenido{
    background-color: #e6ccb2;
    height: 540px;
    width: 250px;
}
.boxcontenido img {
    padding-top: 338px;
    font-style: 'Source Sans Pro';
}
.boxfolder{
background-color: #b32821;
height: 139px;
width: 100%;
padding-top: 60px;
padding-right: 12%;
text-decoration: none ;
fill: black;
}
.social
{
    display: flex;
    font-size: 40px;
    letter-spacing: 10px;
    text-decoration: none;
    fill: black;
}
.fa-brands{
    color: white;
}
